POSTGRES_DB=progtest
POSTGRES_USER=progtest
POSTGRES_PASSWORD=change_me_db_password

JWT_SECRET=change_me_jwt_secret
JWT_EXPIRES_IN_SECONDS=604800

AUTO_INIT_SCHEMA=1
CORS_ALLOW_ORIGIN=*

PUBLIC_WEB_URL=https://your-domain.example
PUBLIC_API_URL=https://your-domain.example
MINI_APP_URL=https://your-domain.example

TELEGRAM_BOT_TOKEN=123456789:replace_me
TELEGRAM_AUTH_MAX_AGE_SECONDS=86400

EMAIL_VERIFICATION_REQUIRED=1
EMAIL_VERIFICATION_CODE_TTL_SECONDS=900
EMAIL_VERIFICATION_RESEND_INTERVAL_SECONDS=60

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USERNAME=elderemperor@yandex.ru
SMTP_PASSWORD=My_project123
SMTP_FROM_EMAIL=elderemperor@yandex.ru
SMTP_FROM_NAME=ProgTest


GREEN_API_ID_INSTANCE=
GREEN_API_TOKEN_INSTANCE=
MAX_BROADCAST_INTERVAL_SECONDS=0
MAX_BROADCAST_TEXT=
